

form {
     font-size: 18px;
     margin: 0 auto;
     width: 500px;
     border: 2px solid black;
     text-align: left;
     padding: 10px;
     height: 800px;
    
}

form h1 {
     text-align: center;
}

form input {
    margin: 20px;
    width: 250px;
    height: 50px;
    font-size: 22px;
}

form button {
    margin: 20px;
     width: 250px;
    height: 50px;
    text-align: left;
    font-size: 22px;
}

.clear{
    display: none;

}

.filter {
    display: none;
}

.item-list {
    margin-left: 0;
    padding-left: 0;
  
   
    
    /* display: none; */
}

li {
    border: 2px solid black;
    list-style: none;
    padding: 10px;
    margin: 20px;
    position: relative;
    
}




i {
 position: absolute;
  right: 10px; /* Distance from the right edge */
  top: 30%;     /* Start halfway down the LI */
  color: red;
}
    

