body {
    color: black;
  
    
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 4px solid black;
    height: 360px; 
    width: 200px;
    background-color: #fff;
    color: red;
    position: relative;
    padding: 10px;
}

.card-corner {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1;

}

.card-center {
  font-size: 3rem;
  align-self: center;
}

.top {
     align-items: start;
      font-size: 2rem;

}

.bottom {
     font-size: 2rem;
  align-items: start;
  transform: rotate(180deg);
}

.computer-container {
    text-align: center;
    background-color: #1A543F;
    padding: 30px;
    height: 380px;
}

.results-container {
    background-color: navajowhite;
     height: 200px;

}

.results-container button {
   padding: 30px;
    margin: 50px;
    font-size: 18px;
    font-weight: bold;
    
}

.player-container {
    padding: 30px;
    background-color: #1A543F ;
     height: 350px;

}