body {
    color: black;
    font-size: 35px;
    
}

.card {
    border: 4px solid black;
    height: 360px; 
    width: 200px;
    background-color: #fff;

}

.computer-container {
    text-align: center;
    background-color: #1A543F;
    padding: 30px;
    height: 400px;
}

.results-container {
    background-color: navajowhite;
     height: 200px;

}

.results-container button {
   padding: 30px;
    margin: 50px;
    font-size: 18px;
    font-weight: bold;
    
}

.player-container {
    padding: 30px;
    background-color: #1A543F ;
     height: 400px;

}